html {
  box-sizing: border-box;
  background-color: #008080;
  text-align: center;
  color: #ffc125;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 60%;
  text-align: center;
  border: 2px solid white;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 2rem;
  text-align: center;
  color: #c6e2ff;
}

.nav {
  margin: 0;
  padding: 0;
  font-family: "Sigmar One", cursive;
}

.nav ul {
  display: inline-block;
  margin: 0 0 .2em;
  padding: 0 0 .4em;
}

.nav li {
  display: inline-block;
  list-style-type: none;
  background-color: #b2a212;
  border-radius: 4px;
}

.nav a {
  display: inline-block;
  font-size: 1.125rem;
  padding: .2em .5em .3em;
  border-radius: 4px;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  font-family: Georgia, serif;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 0;
}

main p {
  font-size: 5rem;
  text-align: center;
  color: #c6e2ff;
}
